<div  class="card-deck">
    {* {foreach from=$venteflash item=vente}
      <div class="flashslide" style="display:inline;">
        <a href="{$vente.url}"><img src="{$vente.vente_path}{$vente.id_sale_quick}.jpg" alt="Avatar" class="imagevente" style="width:25%"></a>
        <div class="middle">
          <div class="textflash"></div> 
        </div>
      </div>
    {/foreach} *}
    
    <div class="card card_colonne" id="homeslider-container">
      <ul class="rslides">
        {foreach from=$venteflash item=vente}
          {if $vente.id_category == 1} 
            <li class="cardvente">  
              <h3 class="titre">Ventes Flash</h3>
              <a href="{$vente.url}"><img src="{$vente.vente_path}{$vente.id_sale_quick}.jpg" alt="Avatar" class="imgvente"></a>
            </li>
          {elseif $vente.id_category == 2}

          {/if}
        {/foreach}
      </ul>
    </div>
    
{* {literal}
<script>
var myIndex = 0;
carousel();
function carousel() {
  var i;
  var x = document.getElementsByClassName("flashslide");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>
{/literal} *}