/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
 /* Ajout image dans bloc text personnalisé*/
/* #content img{max-width:100%; max-height: 100%;} */
#content img:hover{opacity: 0.8;filter: alpha(opacity=60);}
#content #banner{margin-bottom: 30px;}
#content #arguments h2{margin-top: 20px;margin-bottom: 20px;}
#content #arguments p{font-size: 14px;}
main{
    max-width: 2000px;
    margin: auto;
} 
/* padding carousel */
#wrapper {
    padding-top: 10px !important; 
}
.container{
    width: 100%;
    max-width: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/* fin carousel */

/*Ajout normal header dans checkout*/
body#checkout #header .header-nav {
    border-bottom: 2px solid #f1f1f1;
    max-height: 50px; 
    padding: inherit; 
    margin-bottom: 10px; 
    box-shadow: inherit;
}
/* enlèvement bordure sur le boutton add-to-card */
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
}
/* fin enlèvement */

/**Bare de recherche***********/
.row {
    margin-right: 0px !important; 
    background-color: #fff;
    margin-left: 0px !important;
}
#checkout #search_widget {
    display: block;
}
.search-widget form button[type=submit] {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline-style: inherit;
    background-color: #ff6251;
    color: #fff;
    right: 0.01rem;
    padding: 12px;
    bottom: 0;
    border: none;
}
.search-widget form button[type=submit]:hover{
    background-color: #ea272d ;
    cursor: pointer;
}
.search-widget form button[type=submit] .search:hover {
    color: #fff !important;
}
.search-widget form input[type=text]:focus+button .search {
    color: #fff !important;
}
.search-widget form input[type=text]:focus {
    border-radius: 5px;
    outline-style: inherit;
    color: #232323;
    background: #fff;
}
.header-top .search-widget form input[type=text] {
    border: 2px solid #ff6251;
    border-radius: 5px;
    min-width: inherit;
    width: 100%;
    height: 100%;
}
#header .header-top .search-widget {
    width: 100%;
    float: none;
}

@media (min-width: 1800px){
    #header .header-top .search-widget {
        padding-top: 60px;
    }
    #header .header-top .connection {
        padding-left: 200px;
        margin-top: 70px;
    }
}
@media (min-width: 1700px) and (max-width: 1800px){
    #header .header-top .search-widget {
        padding-top: 55px;
    }
    #header .header-top .connection {
        padding-left:180px;
        margin-top: 65px;
    }
}
@media (min-width: 1600px) and (max-width: 1700px){
    #header .header-top .search-widget {
        padding-top: 50px;
    }
    #header .header-top .connection {
        padding-left: 180px;
        margin-top: 60px;
    }
}
@media (min-width: 1500px) and (max-width: 1600px){
    #header .header-top .search-widget {
        padding-top: 45px;
    }
    #header .header-top .connection {
        padding-left: 150px;
        margin-top: 55px;
    }
}
@media (min-width: 1200px) and (max-width: 1500px){
    #header .header-top .search-widget {
        padding-top: 35px;
    }
    #header .header-top .connection {
        padding-left: 65px;
        margin-top: 45px;
    }
}
@media (min-width: 1100px) and (max-width: 1200px){
    #header .header-top .search-widget {
        padding-top: 25px;
    }
    #header .header-top .connection {
        padding-left: 35px;
        margin-top: 35px;
    }
}
@media (min-width: 999px) and (max-width: 1100px){
    #header .header-top .search-widget {
        padding-top: 25px;
    }
    #header .header-top .connection {
        padding-left: 80px;
        margin-top: 35px;
    }
}
@media (min-width: 900px) and (max-width: 999px){
    #header .header-top .search-widget {
        padding-top: 20px;
    }
    #header .header-top .connection {
        padding-left: 50px;
        margin-top: 30px;
    }
}
@media (min-width: 790px) and (max-width: 899px){
    #header .header-top .search-widget {
        padding-top: 15px;
    }
    #header .header-top .connection {
        padding-left: 0px;
        margin-top: 25px;
    }
}
@media (min-width: 768px) and (max-width: 789px){
    #header .header-top .connection {
        padding-left: 0px;
        margin-top: 20px;
    }
}
@media (min-width: 700px) and (max-width: 767px){
    #header .header-top .connection {
        padding-left: 300px;
        margin-top: 35px;
    }
}
@media (min-width: 650px) and (max-width: 699px){
    #header .header-top .connection {
        padding-left: 250px;
        margin-top: 35px;
    }
}
@media (min-width: 600px) and (max-width: 649px){
    #header .header-top .connection {
        padding-left: 200px;
        margin-top: 25px;
    }
}
@media (min-width: 576px) and (max-width: 599px){
    #header .header-top .connection {
        padding-left: 180px;
        margin-top: 20px;
    }
}
@media (min-width: 500px) and (max-width: 575px){
    #header .header-top .connection {
        padding-left: 130px;
        margin-top: 30px;
    }
}
@media (min-width: 400px) and (max-width: 499px){
    #header .header-top .connection {
        padding-left: 50px;
        margin-top: 25px;
    }
}
@media (min-width: 353px) and (max-width: 399px){
    #header .header-top .connection {
        padding-left: 0px;
        margin-top: 20px;
    }
}
@media (min-width: 300px) and (max-width: 352px){
    #header .header-top .connection {
        padding-left: 0px;
        margin-top: 15px;
    }
}


@media (min-width: 700px) and (max-width: 799px){
    #header .header-top .search-widget {
        padding-top: 10px;
    }
}

@media (min-width: 600px) and (max-width: 699px){
    #header .header-top .search-widget {
        padding-top: 5px;
    }
}
@media (min-width: 576px) and (max-width:767px){
    .col-sm-2 {
        float: left;
        width: 25%;
    }
}

/*******************************************************************************/
body#checkout #footer{
    padding-top: 2.5rem;
    padding-right: 0px;
    padding-left: 0px;
    color: inherit;
}

#custom-text {
    background: #fff;
    border-radius: 2px;
    margin-bottom: 1.5rem;
    padding: 1.125rem;
    text-align: center;
}

/* full width nav-bar */
#wrapper .breadcrumb {
    margin-left: 15px;
}
@media (min-width: 768px){
    #content #custom-text{height: 300px;}
}
.card-text{
    text-align: center;
}
/* fin nav-bar */

#header .header-top #_desktop_cart .blockcart a {
    color:white;
 }
#header .header-top .menu-bottom {
    background-color:  #ff6251;
}

@media (min-width: 768px){
    .col-md-12 {
        float: left;
        width: 100%;
    }    
}
/*Header*/

#header .header-top .menu {
    padding-left: 15px;
    margin-top: 10px;
}
#header .header-top #_desktop_cart {
    float: right;
    padding-right: 25px;
    margin-top: -5px;
}
#header .header-nav .blockcart {
    margin-left: 0;
    background-color: #36d321 !important ;
    background: inherit;
}

#header .header-top a[data-depth="0"] {
    color: #ffffff;
    text-transform: uppercase;
}
.icon-home{
    color:#ffffff !important;
}
.cat{
    font-weight: 600;
    width: 100%;
    color: #ffffff !important;
    display: inline-block;
    margin:      .3125rem 0 0 15px;
    padding-bottom: .1875rem;
}
.cat:hover{
    color: #3ed223 !important;
}
.cat:focus{
    text-decoration: none !important;
}

#header .header-nav #_desktop_contact_link #contact-link {
    margin-top: 0px;
    padding-top: 5px;
    font-size: 12px;
    height: 30px;
}

#search_filters_brands{
    padding: 15px;
}

/* changement couleur prix */
#products .product-price-and-shipping, .featured-products .product-price-and-shipping, .product-accessories .product-price-and-shipping, .product-miniature .product-price-and-shipping {
    color: #51aa1b;
}
#products .regular-price, .featured-products .regular-price, .product-accessories .regular-price, .product-miniature .regular-price {
    color: #ff0000;
}
/* tab product*/
#products .product-description, .featured-products .product-description, .product-accessories .product-description, .product-miniature .product-description {
    position: absolute;
    z-index: 3;
    background: #fff;
    width: 250px;
    bottom: 0;
    height: 85px;
}
/* tab product*/
.product-discount {
    color: #ff0000;
}
.product-price {
    color: #51aa1b;
}
.has-discount.product-price, .has-discount p {
    color:#51aa1b;
}
/* fin couleur */
.thumbnail-container{
    border-radius: 5%;
}
.product-description{
    border-radius: 0% 0% 5% 5%;
}
.image-product{
    border-radius: 5% 5% 0% 0%;
}
.carousel .carousel-inner{
    height: 100%;
}
.block-category {
     min-height: 0px;
}
#page-navi {
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 0px;
    overflow: hidden;
}
  
#page-navi li {
    list-style: none;
    display: inline;
}
  
#page-navi li a {
float: left;
display: block;
padding: 8px 10px;
margin-right: 10px;
border: 1px solid #ccc;
text-decoration: none;
background: #fff;
-webkit-transition: background 200ms linear;
transition: background 200ms linear;
border-radius: 3px;
color:#000;
}

#page-navi li:last-child a {
margin-right: 0px;
}

#page-navi li a.current,
#page-navi li a.disable,
#page-navi li a:hover {
background: #51aa1b;
color: #fff;
border-bottom:1px solid #51aa1b;
}
/* fin pagination */
.banner{
    text-align: center;
}
.categorie{
    margin: 10px;
}

/*lsite categories*/
.catego {
    display: inline-block;
    position: relative;
    width:15%;
    overflow: hidden;
    margin: 12px;
}
.catego:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* initial ratio of 1:1*/
}
.imagecat {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease;
    backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 1;
  top: 50%;
  left: 50%;
  text-align: center;
}
@media (min-width:1600px) and (max-width:3790px){
    .catego {
       margin:10px !important;
    }  
}
@media (min-width:1200px) and (max-width:1599px){
    .catego {
       margin:8px !important;
    }  
    
}
@media (min-width:992px) and (max-width:1199px){
    .catego {
       margin:6px !important;
    }  
}
@media (min-width:800px) and (max-width:991px){
    .catego {
       width: 19% !important;
       margin:2px !important;
    } 
}
@media (min-width:775px) and (max-width:799px){
    .catego {
       width: 24% !important;
       margin: 2px !important;
    }
}
@media (min-width:500px) and (max-width:774px){
    .catego {
       width: 32% !important;
       margin: 0px !important;
    }
    .text {
        margin-top: 35% !important;
    }
}
@media (min-width: 300px) and (max-width:499px){
    .catego {  
       width: 49% !important;
       margin: 0px !important;
    }
    .text {
        margin-top: 35% !important;
    }
  
}
.catego:hover .imagecat {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.05);
}
.catego:hover .middle .text{
    background-color: rgba(88, 91, 92, 0.575);
    opacity: 0.9;
    cursor: pointer;
}
.text {
    top: 0;
    margin-top: 40%;
    /* margin-bottom: 45%; */
    padding: 5%;
    left: 0;
    opacity: 0.75;
    width: 100%;
    background-color: grey;
    position: absolute;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    text-transform: uppercase;
    
}
/* pagination categorie */
.material-icons {
    line-height: 0.8 !important;
    height: 0.8em;
}


