  <div class="card card_colonne" id="homeslider-container">
     <ul class="rslides">
        {foreach from=$ventesauxencheres item=vente}
            <li class="cardvente">  
              <h3 class="titre">Ventes aux encheres</h3>
              <a href="{$vente.url}"><img src="{$vente.vente_path}{$vente.id_produit_enchere}.jpg" alt="Avatar" class="imgvente"></a>
            </li>
        {/foreach}
      </ul>    
  </div>